.button {
    width: 30%;
    height: 25%;
    border: solid 1vmin #000;
}

@MediaWidth: 90%;

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1%;
    flex-direction: row;
    width: 90%;
    height: 40%;
    border: solid 2vmin #000;

    @media (max-width:800px) {
        height: 60%;
        gap: 2vmin;
        flex-direction: column;
    }

    @media (max-width:1200px) {
        gap: 5vmin;
        height: 60%;
        width: 70%;
    }

    .button_red {
        .button ();
        background-color: rgba(151, 10, 10, 0.753);

        @media (max-width:800px) {
            width: @MediaWidth;
        }
        @media (max-width:1200px) {
            width: 35%;
        }
    }

    .button_orange {
        .button ();
        background-color: rgba(197, 111, 14, 0.753);

        @media (max-width:800px) {
            width: @MediaWidth;
        }
        @media (max-width:1200px) {
            width: 35%;
        }
    }

    .button_yellow {
        .button ();
        background-color: rgba(207, 187, 6, 0.753);

        @media (max-width:800px) {
            width: @MediaWidth;
        }
        @media (max-width:1200px) {
            width: @MediaWidth;
        }
    }
}
